/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - #eeeeee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
font-family: Helvetica, Arial, sans-serif;
line-height: 1.6;
background-color: #eeeeee;
}

/* TODO: Adjust header margin */
header {
background-color: #ff8523;
}

/*nav {
color: #eeeeee;
}*/

h2, h3 {
color: #1fabe5;
}

/* TODO: I am having trouble with the navigation menu*/
nav, nav:link, nav:visited {
border-style: solid;
border-width: 1;
margin: 5 1 10 1;
border-color: #eeeeee;
padding; 5 5 5 5;
text-align: justify;
}

li {
  font-weight:bolder;
}

/* TODO: More work needed in table
    - Top row text color
    - Adjust cell border to single thin width
    - Float? the cell text
    - How do I resize the images...
    - Make images smaller
    - Can I add <HR> above and below table?
*/

table {
  border-style:solid;
  border-width: 1;
  border-color: #046c97;
  border-spacing: 1;
  table-layout:auto;
}

img[src] {
  padding: 5;
  margin: 5;
  border: 5;
}

td {
  border-style: solid;
  border-width: 1;
  border-color:#046c97;
  padding: 5;
  margin: -1;
}

thead>tr>td {
  background-color: #1fabe5;
  text-emphasis-color: #eeeeee;
  text-align:left;
}

form {
  border-style: none;
  border-radius: 100;
  background-color: #dddddd;
  padding: 5;
}

/* TODO: Adjust div.name so that the background is larger. */
/* TODO: Learn and impliment border radius. */

div.name {
  display: inline;
  background-color: #ff8523;
  padding: 15;
  color: #eeeeee;
  font-size: 3;
}

#submit_button {
  color:#eeeeee;
  background-color:#1fabe5;
}
