/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - #eeeeee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
font-family: Helvetica, Arial, sans-serif;
line-height: 1.6;
background-color: #eeeeee;
margin: 0 auto;
}

header {
height: 6em;
background-color: #ff8523;
border: 1em solid #ff8523;
display: block;
/*margin: 0 auto;*/
}

section {
  margin-left: 1.5em;
}

#logo {
  /*padding and margin are not moving the logo down*/
  padding: 5em 1em 5em 1em;
  margin-top: 5em;
}

h2, h3 {
color: #1fabe5;
}

nav {
  margin-left: 1em;
  margin-bottom: 3em;
}

nav>a[href="#"] {
  float: left;
  padding: 0.1em 1em 0.1em 1em;
  margin: 2px;
  color: #eeeeee;
  border-radius: 4px;
  border: 1px solid #eeeeee;

}

li {
  font-weight:bolder;
}

table {
  border-style:solid;
  border-width: 1px;
  border-color: #046c97;
  border-spacing: 0px;
  table-layout:auto;
}

thead>tr>td {
  color: #eeeeee;
}

img[src] {
  padding: 5;
  margin: 5;
  border: 5;
}

td {
  border-style: solid;
  border-width: 1px;
  border-color:#046c97;
  padding: 0.5em;
  margin: -1;
}

td>img {
  max-width: 8em;
  max-height: 8em;
}

thead>tr>td {
  background-color: #1fabe5;
  text-emphasis-color: #eeeeee;
  text-align:left;
}

form {
  padding: 2em;
  border-style: none;
  border-radius: 4px;
  background-color: #dddddd;
  padding: 5;
}

/* TODO: Adjust div.name so that the background is larger. */

div.name {
  display: inline;
  border-radius: 4px;
  background-color: #ff8523;
  padding: 1em 2em 1em 2em;
  color: #eeeeee;
  font-size: 3;
}
div.city_container {
  margin-top: 1em;
}
hr {
  /*opacity: heavy;*/
  /*color: black;*/

  border-top: 0.1em double #bbbbbb;
}

#submit_button {
  color:#eeeeee;
  background-color:#1fabe5;
  padding:1em;
  border-radius: 4px;
  font-size: 1em;
}
