/*
Background #f2f1e8
Text #131511
Inline Link #968772
Inline Link Hover #967343
Navigation Background #ffffff
Navigation Text #2b2f26
Navigation Text Hover #cd5d67
Navigation Text Active #968772
Button Background #968772
Button Background Hover #967343
Button Text #f2f1e8
Button Text Hover #ffffff
Input Border Bottom #968772
Input Border Bottom Focus #967343
*/

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5vh;
}

h3 {
  font-size: 3vh;
  margin:1vh auto;
}
.wrapper{
  display:flex;
  flex-direction: column;
}
body {
  height: 100vh;
  background-color:#f2f1e8;
  display:flex;
  border: 2px solid red;
  flex-direction: column;
  margin: 0 auto;
}
ul{
  list-style:none;
  padding: 0;
}
li{
  z-index: 100;
}
.content{
  height: 80vh;
}
.marquee{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin:auto;
  height: 25vh;
}
.product_display {
  display: flex;
  flex-direction: column;

}
.top_row {
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: flex-start;
  border:2px solid black;
}
.bottom_row{
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  border: 2px solid black;
}
.block_h {
  border: 2px double red;
}
.block_h img {
  height: 100%;
  position:relative;
}
.block_top_row{
  height: 30vh;
}
.block_bottom_row{
  height:20vh;
}
.block_1_5{
  width:20%;
}
.block_2_5{
  width:40%;
}
.block_3_5{
  width:60%;
}
.page_about_fold{
  display:flex;
  flex-direction: row;
  width:100%;
  height:10vh;
}
header {
  height: 5vh;
  display:flex;
  border: 2px solid green;
  flex-direction:row;
  background-color:#ffffff;
}
header img{
  height: 4vh;
  margin: .5vh;
}

.nav_header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.links{
  width: 100%;
  display: flex;
  justify-content: center;
}
a{
  margin-top: 2vh;
  padding: 0 5% 0 5%;
  font-size: 1vh;
  color: #968772;
  text-transform: uppercase;
}

footer {
  height: 10vh;
  display:flex;
  border: 2px solid blue;
  flex-direction: row;
}
p {
  margin: 2% auto;
}
.newsletter_content{
  background-image:url("images/background-1.jpg");
}
